{% extends 'foods/base.html' %}


{% block content %}


<h1>Корзина</h1>
<br>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                   <h2>{{ message }}</h2>
                {% endfor %}
            </div>
        {% endif %}

<div class="basket-main-block">
    <!-- {{basket}} <br> -->

    <div class="form-block">

        {% if products %}
        <div>
            <p><b> Количество продуктов: {{pproducts_count}} </b></p>
            <p><b> Общая цена: {{total_price}} </b></p>
            <hr><br>
        </div>
            <form action="{% url 'order_products' %}"  method="get" class="basket-form"> 
                <!-- {% csrf_token %} -->

                <select name="payment_method" id="payment_method" required>
                    <option value="cash">Наличные</option>
                    <option value="card">Карта</option>
                </select>

                <input type="text" class="adress-input" name="adress" placeholder="Adress" required>

                <textarea class="message-input" name="messages" id="messages" cols="30" rows="10" placeholder="Message"></textarea>

                <button class="order-button" >Заказать</button>

            </form>


            <br>
            <a class="basket-clear-button" href="{% url 'clear_basket'  %}">Очистка корзины</a>

        {% else %}

            <h1 style="text-align: center;" >Пусто</h1>
            error: {{error}}
            
        {% endif %}
    </div>

    
    <div class="basket-products">
        {% for i in products %}
        <div class="basket-product">
          <div class="product-info">
            <div>
              <img class="basket-product-image" src="/media/{{i.image}}" alt="product-img">
            </div>
            <div>
              <h2>{{i.name}}</h2>
              <p>{{i.description|truncatechars:50}}</p>
            </div>
          </div>
          <div class="product-actions">
            <div class="basket-product-price">{{i.price}}</div>
            <a id="remove-button" href="{% url 'remove_from_basket' product_pk=i.pk %}">Удалить</a>
          </div>
        </div>
        {% endfor %}
      </div>
      

</div>
{% endblock %}

