{% extends 'foods/base.html' %}

{% block content %}
<h2>Рестораны </h2>
<div class="restaurants">
    {% for i in restaurants %}
            <a href="{% url 'menu' restaurant_pk=i.pk %}">
                <div class="restaurant" >
                    <div>
                        <img class="product-image" src="/media/{{i.image}}" alt="product-img">
                    </div>
                    <br>
                    <div>
                        <h2>{{i.name}}</h2>
                        <p>{{i.description|truncatechars:150}}</p>
                    </div>
                </div>
            </a>
    {% endfor %}

</div>
{% endblock %}

